<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Welcome to the Login Page of the website</h1>
    <h2>Enter your email and password to login</h2>

    <form action="/login" method="post">
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <input type="password" name="password" id="password" placeholder="Enter your Password">
        <button type="submit">Login</button>
    </form>
   <a href="/signup"><button>Sign Up</button></a>
</body>
</html>
